USE [master]
GO
/****** Object:  Database [Ntier]    Script Date: 2013/12/25 16:22:38 ******/
CREATE DATABASE [Ntier]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ntier', FILENAME = N'D:\学校\学业\C#软件开发技术\作业\NTier\Ntier.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ntier_log', FILENAME = N'D:\学校\学业\C#软件开发技术\作业\NTier\Ntier_log.LDF' , SIZE = 3520KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ntier].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ntier]
GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 2013/12/25 16:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAccount](
	[accountId] [varchar](6) NOT NULL,
	[password] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[accountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblAccountRole]    Script Date: 2013/12/25 16:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAccountRole](
	[accountId] [varchar](6) NOT NULL,
	[roleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[accountId] ASC,
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCourse]    Script Date: 2013/12/25 16:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCourse](
	[courseNo] [char](8) NOT NULL,
	[courseName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[courseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblDepartment]    Script Date: 2013/12/25 16:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDepartment](
	[deptId] [char](4) NOT NULL,
	[deptName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[deptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRights]    Script Date: 2013/12/25 16:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblRights](
	[rightId] [int] IDENTITY(1,1) NOT NULL,
	[rightName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRole]    Script Date: 2013/12/25 16:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblRole](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRoleRight]    Script Date: 2013/12/25 16:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoleRight](
	[roleId] [int] NOT NULL,
	[rightId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC,
	[rightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSelectCourse]    Script Date: 2013/12/25 16:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSelectCourse](
	[studentNo] [char](6) NOT NULL,
	[teacherCourseNo] [char](10) NOT NULL,
	[grade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[studentNo] ASC,
	[teacherCourseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblStudent]    Script Date: 2013/12/25 16:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblStudent](
	[studentNo] [char](6) NOT NULL,
	[studentName] [varchar](20) NOT NULL,
	[sex] [char](2) NOT NULL,
	[birthday] [datetime] NULL,
	[deptId] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[studentNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTeacher]    Script Date: 2013/12/25 16:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTeacher](
	[workerNo] [char](5) NOT NULL,
	[workerName] [varchar](20) NOT NULL,
	[sex] [char](2) NOT NULL,
	[deptId] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[workerNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTeacherCourse]    Script Date: 2013/12/25 16:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTeacherCourse](
	[teacherCourseNo] [char](10) NOT NULL,
	[courseNo] [char](8) NULL,
	[workerNo] [char](5) NULL,
	[amount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[teacherCourseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tblAccountRole]  WITH CHECK ADD FOREIGN KEY([accountId])
REFERENCES [dbo].[tblAccount] ([accountId])
GO
ALTER TABLE [dbo].[tblAccountRole]  WITH CHECK ADD FOREIGN KEY([roleId])
REFERENCES [dbo].[tblRole] ([roleId])
GO
ALTER TABLE [dbo].[tblRoleRight]  WITH CHECK ADD FOREIGN KEY([rightId])
REFERENCES [dbo].[tblRights] ([rightId])
GO
ALTER TABLE [dbo].[tblRoleRight]  WITH CHECK ADD FOREIGN KEY([roleId])
REFERENCES [dbo].[tblRole] ([roleId])
GO
ALTER TABLE [dbo].[tblSelectCourse]  WITH CHECK ADD FOREIGN KEY([studentNo])
REFERENCES [dbo].[tblStudent] ([studentNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSelectCourse]  WITH CHECK ADD FOREIGN KEY([teacherCourseNo])
REFERENCES [dbo].[tblTeacherCourse] ([teacherCourseNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblStudent]  WITH CHECK ADD FOREIGN KEY([deptId])
REFERENCES [dbo].[tblDepartment] ([deptId])
GO
ALTER TABLE [dbo].[tblTeacher]  WITH CHECK ADD FOREIGN KEY([deptId])
REFERENCES [dbo].[tblDepartment] ([deptId])
GO
ALTER TABLE [dbo].[tblTeacherCourse]  WITH CHECK ADD FOREIGN KEY([courseNo])
REFERENCES [dbo].[tblCourse] ([courseNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblTeacherCourse]  WITH CHECK ADD FOREIGN KEY([workerNo])
REFERENCES [dbo].[tblTeacher] ([workerNo])
GO
ALTER TABLE [dbo].[tblCourse]  WITH CHECK ADD CHECK  (([courseNo] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[tblDepartment]  WITH CHECK ADD CHECK  (([deptId] like '[0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[tblStudent]  WITH CHECK ADD CHECK  (([studentNo] like '[0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[tblStudent]  WITH CHECK ADD CHECK  (([sex]='女' OR [sex]='男'))
GO
ALTER TABLE [dbo].[tblTeacher]  WITH CHECK ADD CHECK  (([workerNo] like '[0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[tblTeacher]  WITH CHECK ADD CHECK  (([sex]='女' OR [sex]='男'))
GO
USE [master]
GO
